!!! 5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(rel='stylesheet', href='/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/dist/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href="/stylesheets/style.css")

		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/dist/jquery.tmpl.min.js')
		script(type='text/javascript', src='/dist/js/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/index.js')


		script#expert-tmpl(type="text/x-jquery-tmpl")
			.profilepanel.col-md-4.first
				.panel.panel-primary
					.panel-heading
						h3.panel-title
							@${screen_name}
							.badge.text-right    ${tweets.length}
					.panel-body.center
						.profileimage(style="background-image: url('${profile_image_url}')")
						ul.list-group
							li.list-group-item.description ${description}
							li.list-group-item.location ${location}
						.topicfrequency
							.badge ${retweetedtweets.length}
							span &nbsp;retweeted tweets on&nbsp;
							span.label.label-success ${topic}
							span &nbsp;since ${earliestRetweetedtweetDate}
						.topicfrequency
							.badge ${tweets.length}
							span &nbsp;tweets on&nbsp;
							span.label.label-success ${topic}
							span &nbsp;since ${earliestTweetDate}

						ul.tweets
							{{each tweets}}
							li.tweettext ${text}
							{{/each}}

						p
						.topicpercentage
							span percentage of tweets aboutprimary
							ul.list-group
								li.list-group-item
									span.label.label-success ${topic}
								li.list-group-item
									span.label.label-warning #othertopic
								li.list-group-item
									span.label.label-danger #yetanothertopic
								li.list-group-item
									span.label.label-primary #yetanothertopic
								li.list-group-item
									span.label.label-primary #yetanothertopic
								li.list-group-item
									span.label.label-primary #yetanothertopic
								li.list-group-item
									span.label.label-primary #yetanothertopic
								li.list-group-item
									span.label.label-primary #yetanothertopic
								li.list-group-item
									span.label.label-primary #yetanothertopic
								li.list-group-item
									span.label.label-primary #yetanothertopic

							.progress
								.progress-bar.progress-bar-success(style='width: 35%;')
									span.sr-only 35% Complete (success)
								.progress-bar.progress-bar-warning(style='width: 20%;')
									span.sr-only 20% Complete (warning)
								.progress-bar.progress-bar-danger(style='width: 10%;')
									span.sr-only 10% Complete (danger)
								.progress-bar.progress-bar-primary(style='width: 35%;')
									span.sr-only 35% Complete (danger)
						.conversation
							.badge 35
							span  times retweeted about
							span.label.label-success #currenttopic
							.badge 23
							p
							span  users engaged in conversation about
							span.label.label-success #currenttopic

						.externalcontent
							span  A total of
							.badge 42
							span  links were cited
					.panel-footer
						button.btn.btn-success include
						button.btn.btn-danger exclude
						button.btn(onclick="moreinfo('first')") more info

	body
		.container
			#title
				h1 Expert Extractor

			#search.jumbotron
				h1 Find and refine topic
				.lead type in your topic, and refine it further using tags
				.input-group.input-group-lg
					span.input-group-addon #
					input#topicfield.form-control(type="text", placeholder="Topic, article URL or expert twitterhandle")
					span.input-group-btn
						button#searchbtn.btn.btn-large(type="button")
							span.glyphicon.glyphicon-search
							span search

			#topexpertlist
				h2 Top Experts (out of your league) for&nbsp;
					span#topic
				.lead click badges to see expertise ans links
				.row.container



